/*------SECTION CONTACTO-------*/

.sectionContacto {
    background-image: url(../imagenes/foto_contacto.jfif);
    background-size: cover;
    background-position: center;
    color: white;
    padding-left: 10px;
}