/*------SECTION PRODUCTOS--------*/
.sectionProducto {
    padding: 30px;

    .sectionProducto__contenedor {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px 0px;
        border: 2px solid black;
        margin: 25px 90px;

        .contenedor__texto {
            .texto__titulo {
                font-size: 25px;
                text-align: left;
                text-decoration: underline;
            }
        }
    }
}

.sectionProducto :hover {
    background-color: rgb(236, 235, 235);
}